
main
{
	background:white;
}
.topic {	
	 margin:20px;
width:70%;	 
	
}  .topic ul{ 
	border:2px green  solid; 
	margin:2px; 
	padding:5px; 
	 border-right:0px; 
	 border-radius:10px 0px 0px 10px; 
} 
.topic ul a{text-decoration:none;}
 .topic  a li{ 

	 margin:2px; 
	 text-decoration:none; 
	 color:green; 
 font-size:20px;
 padding:1px 5px 1px 5px;
 border-radius:10px;
transition:0.2s;  border:1px green solid;
 }
	 .topic  a li:hover{ 

	 margin:2px; 
	 text-decoration:none; 
	 color:white; 

 background:green;
 }
	 .topic  a li:active{ 

	 margin:2px; 
	 text-decoration:none; 
	 color:white; 

 border:1px white solid;
 } 
	
	

 @media only screen and (max-width : 768px) {
	.topic {	
	 margin:20px;
width:auto; 
	
}  .topic  a li{ 

	 
 font-size:15px;

 }
 }
 